# ---- Django ----
DJANGO_SECRET_KEY="@Jokersmoker2004"
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
DJANGO_SETTINGS_MODULE=smartseason.settings.prod

# ---- MySQL ----
DB_NAME=smartseason
DB_USER=root
DB_PASSWORD=Jokersmoker2004
DB_HOST=127.0.0.1
DB_PORT=3306

# ---- CORS ----
CORS_ALLOWED_ORIGINS=http://localhost:5173

# ---- Business logic ----
AT_RISK_DAYS=7
